@font-face {
    font-family: "iconfont"; /* Project id 3528292 */
    src: url('iconfont.woff2?t=1658061992470') format('woff2'),
         url('iconfont.woff?t=1658061992470') format('woff'),
         url('iconfont.ttf?t=1658061992470') format('truetype');
  }
  .tab .icon-list::before {
    content: "\e6b8";
    font-family: "iconfont";
  }
  .tab .icon-moon::before {
    content: "\e658";
    font-family: "iconfont";
  }
  
 #left .tab {
    height: 40px;
    background-color: #ECECEC;
    line-height: 40px;
    padding-left: 5px;
    text-align: left;
    margin-bottom: 10px;
} 
#left .sidebar {
    background-color: #F6F4F0;
    overflow: auto;
    height: 500px;
    width: 100%;

}
.sidebar a{
    width:200px ;
    display: inline-block;
    margin-bottom: 10px;
    color: #000;
    border-bottom: 1px solid #fff;
    padding-left: 5px;
    line-height: 30px;
    font-size: 15px;

}
.sidebar a:hover {
    font-size: 16px;
    font-weight: 400;
    transition: 0.4s;
}
#right{
  background-color: #F6F4F0;
}
